<!DOCTYPE html>
<html>
	<head>
		<title>台北設計之都</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/animate.css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</head>
	<body>
		<div class="startdoor animated fadeInUp"></div>
		<div class="bg">
			<div id="gm"></div>
			<div id="boat"></div>
		</div>
	</body>
	<script type="text/javascript">
		var wWidth = $(window).width();
		// console.log(wWidth);
		var af_ed = 0;
		// $('#gm').css({
		// 		'top':200,'right':0,
		//  	})
		$(window).bind('scroll',function(e){
		 	//console.log(e)
		 	var s = $(window).scrollTop();
		 	// console.log(s)
		 	/* 計算 */
		 	//var st1_sl = 684/1206;
		 	/* 預設 */
		 	//var aaa =(50-((scrolled/wWidth)*100))+'%';
		 	//console.log(aaa);
		 	// console.log((s/684.37)*1205.85 );
		 	var t = .5*wWidth;
		 	if(s<= 678){
		 		// $('#gm').css({
		 		// 	top:200+((scrolled-50)*(684.37/430)),right:0+(scrolled-170)*(1205.85/430),
		 		// 	'display':'block'
		 		// });
				// $('.startdoor').css({'right':aaa})
				$('.bg').css({
					'right':t-((s/684.37)*1205.85),
					'top':-300
				})	
				$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s> 678 && s<=1184){
		 		//console.log(st1+((s/451.46)*806.17))
				$('.bg').css({
					'right':(((s-684.37)/451.46)*806.17)-t,
					'top':-300
				})
				$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s> 1184 && s<=1380){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200)/230.5)*411.61),
		 			'top':-300
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s> 1380 && s<= 1854){
		 		$('.bg').css({
		 			'right':((s-684.37-451.46+200-230)/129)*230.37-t,
		 			'top':-300
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s> 1584 && s<= 1881){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129)/313.66)*560.12),
		 			'top':-300
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s> 1881 && s<= 2044){
		 		$('.bg').css({
		 			'right':((s-684.37-451.46+200-230-129-313.66-200)/159.92)*285.58-t,
		 			'top':-300
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s> 2044 && s<= 2553){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400)/540.4)*965),
		 			'top':-300
		 		})
		 		$('#gm').css({
		 			'display':'block'
		 		})	
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>2553 && s<= 3439){
		 		$('.bg').css({
		 			'right':((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700)/917.33)*1638.1-t,
		 			'top':-300
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>3439 && s<= 3627){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400)/211.11)*376.98),
		 			'top':-300
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 		
		 	}
		 	var tt = 0;
		 	if(s>3627 && s<= 4003){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400)/211.11)*376.98),
		 			'top': -300+2*(s-3637.75)
		 		})	
		 		if (s==4003){
		 			tt = (-300+2*(4003-3637.75))
		 		}
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})

		 	}
		 	if(s>4003 && s<= 4252){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200)/240.97)*430.3)-700,
		 			'top': tt+430
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>4252 && s<=4436 ){
		 		$('.bg').css({
		 			'right':(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100)/205.45)*368.66)-680-t,
		 			'top': tt+430
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>4436 && s<= 4689){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200)/271.38)*484.6)-680,
		 			'top': tt+430
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>4689 && s<= 5200	){
		 		$('.bg').css({
		 			'right':(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200)/512.85)*915.81)-680-t,
		 			'top': tt+430
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>5200 && s<= 5359){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85)/174.89)*312.31)-680,
		 			'top': tt+430
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>5359 && s<= 5839){
		 		$('.bg').css({
		 			'right':(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300)/452.17)*808.47)-680-t	,
		 			'top': tt+430
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>5839 && s<= 6689){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650)/814.82)*1255.04)-680	,
		 			'top': tt+430
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>6689 && s<= 6917){
		 		$('.bg').css({
		 			'right':(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244)/244.05)*435.81)-680-t	,
		 			'top': tt+430
		 		})	
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>6937 && s<=7000){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244-244+350)/109.49)*195.53)-680	,
		 			'top': tt+430
		 		})	
		 		$('#boat').css({display:'none'})
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 	}
		 	if(s>7000 && s<= 7476){
		 		$('.bg').css({
		 			'right':(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244-244+350-109.49-200)/426.34)*761.33)-680-t	,
		 			'top': tt+430
		 		})
		 		$('#gm').css({
		 			'display':'block'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>7476 && s<=7530){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244-244+350-109.49-200-426.34)/663.7)*403.36)-680	,
		 			'top': tt+430,
		 		})
		 		$('#gm').css({
		 			'display':'none'
		 		})
		 		$('#boat').css({display:'none'})
		 	}
		 	if(s>7530 ){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244-244+350-109.49-200-426.34)/663.7)*403.36)-680	,
		 			'top': tt+430,
		 		})
		 		$('#boat').css({display:'block',position:'fixed',top:tt+430})
		 		$('#gm').css({
		 			'display':'none'
		 		})
		 	}
		 	console.log('s:'+s);
		 	
		});
	</script>
</html>