<!DOCTYPE html>
<html>
	<head>
		<title>台北設計之都</title>
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/animate.css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</head>
	<body>
		<div id="bodyFr">
			<div class="startdoor animated fadeInUp"></div>
			<div id="click1"></div>
			<div id="click2"></div>
			<div id="click3"></div>
			<div id="click4"></div>
			<div id="click5"></div>
			<!-- <div id="bld1"></div>
			<div id="bld2"></div>
			<div id="bld3"></div> -->
			<!-- psn -->
			<div id="money1"></div>
			<div id="money50"></div>
			<div id="money10"></div>
			<div id="money50_21"></div>
			<div id="money50_22"></div>
			<div id="money10_31"></div>
			<div id="money10_32"></div>
			<div id="money1_41"></div>
			<div id="money10_42"></div>
			<div id="money50_43"></div>
			<div id="money50_44"></div>
			<div id="money50_45"></div>
			<div id="block0"></div>
			<div id="block1"></div>
			<!-- <div id="bld1_1"></div>
			<div id="bld2_link"></div>
			<div id="bld1_5"></div>
			<div id="bld_3"></div>
			<div id="bld_4"></div> -->
			<div id="title3"></div>
			<div id="title1"></div>
			<div id="fishpool"></div>
			<div id="daikon_ground"></div>
			<div id="title2"></div>
			<div id="dog"></div>
			<div id="train"></div>
			<div id="superman"></div>
			<div class="bg">
				<div id="gm"></div>
				<div id="boat"></div>
			</div>
			<!-- <div id="mountain"></div> -->
			<div id="ufo"></div>
			<div id="mt"></div>
		</div>
	</body>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	<script type="text/javascript">
		var wWidth = $(window).width();
		var af_ed = 0;
		var returnpoint = 0;
		var returnpoint2 = 0;
		var returnpoint3 = 0;
		var ps1 = 0;
		var ps2 = 0;
		var ps3 = 0;
		var ps4 = 0;
		var ps5 = 0;
		var ps6 = 0;
		var ps7 = 0;
		var ps8 = 0;
		var ps9 = 0;
		$(function(){
			// $('#gm').addClass('animated lightSpeedIn')
			$('#click1').click(function(){
				var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
				$body.animate({
					scrollTop: 1530
				}, 1000);
				return false;
			});
			$('#click2').click(function(){
				var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
				$body.animate({
					scrollTop: 2320
				}, 1000);
				return false;
			});
			$('#click3').click(function(){
				var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
				$body.animate({
					scrollTop: 4049
				}, 1000);
				return false;
			});
			$('#click4').click(function(){
				var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
				$body.animate({
					scrollTop: 4721
				}, 1000);
				return false;
			});
			$('#click5').click(function(){
				var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
				$body.animate({
					scrollTop: 12304
				}, 3000);
				return false;
			});
		});
		$(window).bind('scroll',function(e){
		 	//console.log(e)
		 	var s = $(window).scrollTop();
		 	// console.log(s)
		 	/* 計算 */
		 	//var st1_sl = 684/1206;
		 	/* 預設 */
		 	//var aaa =(50-((scrolled/wWidth)*100))+'%';
		 	//console.log(aaa);
		 	// console.log((s/684.37)*1205.85 );
		 	var t = .5*wWidth;
		 	if(s>5781 && s<=6117){
		 		$('.bg').css({
		 			// 'right':t-(((s-684.37-451.46-4300)/663.7)*403.36)-680,
		 			'left':0,
		 			'top': tt+430,
		 		})
		 		$('#boat').css({
		 			display:'block',
		 			position:'fixed',
		 			top:tt+430,
		 			'left':.3*wWidth-(s-5781),
		 		}).removeClass('flipimg')
		 		$('#gm').css({
		 			'display':'none',
		 			//'left':.3*wWidth-(s-5781)
		 		})
		 	}		 	
		 	if(s>6139 && s<= 6600){
		 		$('#boat').css({
		 			display:'block',
		 			position:'fixed',
		 			top:tt+430,
		 			'left':.3*wWidth+(s-6139),
		 		}).addClass('flipimg');
		 		returnpoint = .3*wWidth+(s-6139);
		 		// console.log(returnpoint);
		 	}
		 	if(s>6600 && s<= 7273){
		 		// console.log(returnpoint);
		 		$('#boat').css({
		 			display:'block',
		 			position:'fixed',
		 			top:tt+430,
		 			'left':returnpoint-(s-6691),
		 		}).removeClass('flipimg');
		 		returnpoint2 = returnpoint-(s-6691);	
		 	}
		 	if(s>7273 && s<= 7776){
		 		// console.log(returnpoint);
		 		$('#boat').css({
		 			display:'block',
		 			position:'fixed',
		 			top:tt+430,
		 			'left':returnpoint2+(s-7273),
		 		}).addClass('flipimg');
		 		returnpoint3 = returnpoint2+(s-7273)
		 	}
		 	if(s>7776){
		 		// console.log(returnpoint);
		 		$('#boat').css({
		 			display:'block',
		 			position:'fixed',
		 			top:tt+430,
		 			'left':returnpoint3-(s-7876),
		 		}).removeClass('flipimg');
		 	}
		 	// if(s> 8148 && s<=8900){
		 	// 	$('.bg').css({
		 	// 		'right':(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244-244+350-109.49-200-426.34-663.7+600)/696.23)*594.55)-680-t,
		 	// 		'top': tt+430,
		 	// 	})
		 	// 	$('#gm').css({
		 	// 		'display':'none'
		 	// 	})
		 	// 	$('#boat').css({display:'block',position:'fixed',top:tt+430}).addClass('flipimg');
		 	// }

		 	// if(s>8900 && s<=9300){

		 	// 	$('.bg').css({
		 	// 		'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244-244+350-109.49-200-426.34-663.7+600-696.23-700)/561.62)*798.18)-680,
		 	// 		'top': tt+430,
		 	// 	})	
		 	// 	$('#gm').css({
		 	// 		'display':'none'
		 	// 	})
		 	// 	$('#boat').css({display:'block',position:'fixed',top:tt+430}).removeClass('flipimg');
		 	// }
		 	// if(s>9300 && s<=10336){

		 	// 	$('.bg').css({
		 	// 		'right':(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244-244+350-109.49-200-426.34-663.7+600-696.23-700-561.62+300)/932.76)*973.81)-680-t,
		 	// 		'top': tt+430,
		 	// 	})	
		 	// 	$('#gm').css({
		 	// 		'display':'none'
		 	// 	})	
		 	// 	$('#boat').css({display:'block',position:'fixed',top:tt+430}).addClass('flipimg');
		 	// }
		 	// if(s>10336 && s<= 10691){
		 	// 	$('.bg').css({
		 	// 		'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244-244+350-109.49-200-426.34-663.7+600-696.23-700-561.62+300-932.76-432)/677.86)*1459.3)-680,
		 	// 		'top': tt+430,
		 	// 	})	
		 	// 	$('#gm').css({
		 	// 		'display':'none'
		 	// 	})	
		 	// 	$('#boat').css({display:'block',position:'fixed',top:tt+430}).removeClass('flipimg');	
		 		
		 	// }
		 	if(s<=11152){
		 		$('#ufo').css({
		 				right:'-100%'
		 			})
		 	}
		 	if(s> 10691 && s<= 11152){
		 		$('.bg').css({
		 			'right':t-(((s-684.37-451.46+200-230-129-313.66-200-159.92+400-540.4-700-917.33+400-211.11-200-240.97-100-205.45+200-271.38-200-512.85-174.89+300-452.17-650-814.82+244-244+350-109.49-200-426.34-663.7+600-696.23-700-561.62+300-932.76-432)/677.86)*1459.3)-680,	
		 			'top': tt+430,
		 		})
		 		$('#boat').css({
		 			'top': tt+430+(s-10691),
		 			'right':(.4*wWidth)+2*(s-10691)
		 		})
		 		$('#mountain').css({
		 			bottom: '100%',
		 			position:'absoluted'
		 		})
		 		// $('#ufo').css({
		 		// 		right:400+(s-11152)
		 		// 	})
		 	}
		 	if(s<=11152){
		 		$('#ufo').removeClass('animated shake');
		 	}
		 	if(s>11152){	
		 		if(-400+(s-11152) <= 0){
		 			$('#mountain').css({
		 				bottom: -400+(s-11152),
		 				position:'fixed'
		 			})
		 			
		 			$('#ufo').css({
		 				right:-400+(s-11152)
		 			})
		 			$('#ufo').addClass('animated shake');
		 		}else{

		 		}
		 	}
		 	console.log('s:'+s);
		 	
		});
	</script>
</html>