<!DOCTYPE html>
<html>
	<head>
		<title>台北設計之都</title>
		<link rel='stylesheet' href='/css/style_new.css' />
		<link rel='stylesheet' href='/css/animate.css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</head>
	<body>
		<div id="gm"></div>
	</body>
</html>