<!DOCTYPE html>
<html>
	<head>
		<title>台北設計之都</title>
		<link rel='stylesheet' href='/css/style_new.css' />
		<link rel='stylesheet' href='/css/animate.css' />
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</head>
	<body>
		<div id="stage1">
			<div id="gm" data-arrived=""></div>
			<div id="gd"></div>
			<div id="pinkcar"></div>
		</div>
		<script type="text/javascript">
		var wWidth = $(window).width();
		var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
		var checkArr;
		$body.animate({
				scrollTop: 0
			},2000);
		$(window).bind('scroll',function(e){
			var s = $(window).scrollTop();
			//console.log(s)
			if (s>100 && s<=300){
				$('#gm').animate({
			    left: 300,
				},2000);
				$body.animate({
					scrollTop: 400
				}, 2000);
			}
			
			//console.log(checkArr)
		})
		</script>
	</body>
</html>