<!DOCTYPE html>
<html>
	<head>
		<title>台北設計之都</title>
		<link rel='stylesheet' href='/css/styleChange.css' />
		<link rel='stylesheet' href='/css/animate.css' />
		<script type="text/javascript" src="/js/jquery.scrollpath.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</head>
	<body>
		<div id="bodyFr">
			<div class="bg"></div>
			<div id="gm"></div>
		</div>
	</body>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	<script type="text/javascript">
		var wWidth = $(window).width();
		$(function(){
		});
		$(window).bind('scroll',function(e){
		 	//console.log(e)
		 	var s = $(window).scrollTop();
		 	console.log(s);
			if(s<=440){
				$('#gm').css({
					'right':((s/684.37)*1205.85)	
				})	
				t =((s/684.37)*1205.85);
			}
			if(s>440 && s<=756){
				$('#gm').css({
					'right':t-(((s-450)/451.46)*806.17)
				})	
				t1 = t-(((s-450)/451.46)*806.17);
			}
			if(s>756 && s<= 878){
				$('#gm').css({
					'right':t1+(((s-684.37-451.46+400)/230.5)*411.61)
				})	
				t2 = t1+(((s-684.37-451.46+400)/230.5)*411.61)
			}
			if(s>878 && s<=972){
				$('#gm').css({
					'right':t2-((s-684.37-451.46+250)/129)*230.37
				})
				t3 = t2-((s-684.37-451.46+250)/129)*230.37;
			}
			if(s>972 && s<= 1196){
				$('#gm').css({
					'right':t3+(((s-684.37-451.46+170)/313.66)*560.12)
				})
				t4 = t3+(((s-684.37-451.46+170)/313.66)*560.12)	
			}
			if(s>1196 && s<= 1319){
				$('#gm').css({
					'right':t4-((s-684.37-451.460-70)/159.92)*285.58
				})
				t5 = t4-((s-684.37-451.460-70)/159.92)*285.58
			}
			if(s>1319 && s<= 1694){
				$('#gm').css({
					'right':t5+(((s-684.37-451.46-200)/540.4)*965)
				})	
				t6 = t5+(((s-684.37-451.46-200)/540.4)*965);
			}
			if(s>1694){
				$('#gm').css({
					'right':t6-((s-684.37-451.46-500)/917.33)*1638.1
				})
			}


		});
	</script>
</html>