body {
	margin: 0;
	padding: 0
}
a {
  color: #00B7FF;
}
html{
	
}
body{

}
#stage1{
	width: 100%;
	height: 5333px;
	overflow-x:hidden;
}
#stage2{
	width: 100%;
	height: 3900px;
	position: absolute;
	top:4000px;
	background:url("../img/bg_new_d.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#ufo{
	z-index: 21;
	position: fixed;
	top:0;
	right:-600px;
	height:600px;
	width: 100%;
	/*display: none;*/
	background: url('../img/ufo.svg');
	background-size: 100% 100%;
}

#gm{
	width: 90px;
	height:120px;
  	background:url("../img/greenman.png");
  	-webkit-animation: run .5s steps(7) infinite;
  	bottom: 50px;
  	position: fixed;
  	z-index: 10;
}
@-webkit-keyframes run{
  0%{background-position:0px;}
  100%{background-position:651px;}
}
#gd{
	width: 100%;
	background: #8fc31f;
	bottom: -50px;
	position: fixed;
	height: 50px;
	z-index: 5;
}
#pinkcar{
	bottom: 50px;
	position: fixed;
	width: 136px;
	height: 55px;
	background: url("../img/pink_car.png");
	right:-136px;
}
#bluecar{
	bottom: 50px;
	position: fixed;
	width: 136px;
	height: 55px;
	background: url("../img/bluecar.png");
	right:-136px;
}
#st1{
	width: 80px;
	height: 90px;
	bottom: 30px;
	right: -90px;
	position: fixed;
	background: url("../img/st1.png");
}
#st2{
	width: 80px;
	height: 90px;
	bottom: 30px;
	right: -90px;
	position: fixed;
	background: url("../img/st2.png");
}
#st3{
	width: 80px;
	height: 90px;
	bottom: 30px;
	right: -90px;
	position: fixed;
	background: url("../img/st3.png");
}
#sp1{
	width: 100%;
	height: 50px;
	top:1300px;
	position: absolute;
	background: #444;
}
#sp2{
	width: 100%;
	height: 50px;
	top:2666px;
	position: absolute;
	background: #444;
}
#sp3{
	width: 100%;
	height: 50px;
	top:3999px;
	position: absolute;
	background: #444;
}
#land{
	top:5300px;
	width: 100%;
	height:1000px;
	position: absolute;
	background: url("../img/land.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}