body {
	margin: 0;
	padding: 0
}

a {
  color: #00B7FF;
}

.bg{
	width: 100%;
	height: 8500px;
	background-image: url('../img/bg.jpg');
/*	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;*/
	background-size:cover;
}