body {
	margin: 0;
	padding: 0
}

a {
  color: #00B7FF;
}
body{
	background: #8FC31F;
	height:13000px;
	overflow-x: hidden;
	width: 100%;
}
/*.bg{
	width: 1921px;
	height: 11752px;
	right:42%;
	background-image: url('../img/road3.png');
	position: absolute;
	top:-300px;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}*/
.bg{
	width: 1521px;
	height: 8852px;
	right:42%;
	background-image: url('../img/road4.png');
	position: absolute;
	top:-300px;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
#gm{
	width: 90px;
	height: 120px;
	top:46%;
	right:52%;
	position: fixed;
	background-image: url('../img/gm1.gif');
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	/*display: none;*/
}
#boat{
	width: 336px;
	height: 160px;
	top:7500.8px;
	right:30%;
	position: absolute;
	background-image: url('../img/boat.png');
}
.startdoor{
	z-index: 9;
	position: absolute;
	top:-100px;
	right:0;
	height:600px;
	width: 100%;
	background: url('../img/stdoor.svg');
	background-size: 100% 100%;

}
#mountain{
	z-index: 20;
	position: absolute;
	bottom:100%;
	right:0;
	height:600px;
	width: 100%;
	background: url('../img/mountain.svg');
	background-size: 100% 100%;
	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}
.flipimg{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
#ufo{
	z-index: 21;
	position: fixed;
	top:0;
	right:100%;
	height:600px;
	width: 100%;
	/*display: none;*/
	background: url('../img/ufo.svg');
	background-size: 100% 100%;
}
#bld1{
	background: url('../img/bld1.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width:70%;
  	height:300px;
  	top:4659px;
  	left: -400px;
  	position: absolute;
  	z-index: 101;
}
#bld2{
	background: url('../img/bld2.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width:30%;
  	height:200px;
  	top:5631px;
  	right:15%;
  	position: absolute;
  	z-index: 101;
}
#bld3{
	background: url('../img/bld3.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width:30%;
  	height:200px;
  	top:5631px;
  	right:-15%;
  	position: absolute;
  	z-index: 101;
}
#money1{
	background: url('../img/1.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:800px;
  	z-index: 10;
}
#money10{
	background: url('../img/10.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:1100px;
  	z-index: 10;
}
#money50{
	background: url('../img/50.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:850px;
  	z-index: 10;
}
#money50_21{
	background: url('../img/50.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:1650px;
  	z-index: 10;	
}
#money50_22{
	background: url('../img/50.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:1750px;
  	z-index: 10;	
}
#money10_31{
	background: url('../img/10.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:2050px;
  	z-index: 10;
}
#money10_32{
	background: url('../img/10.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:2270px;
  	z-index: 10;
}
#money1_41{
	background: url('../img/1.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:2500px;
  	z-index: 10;
}
#money10_42{
	background: url('../img/10.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:2700px;
  	z-index: 10;

}
#money50_43{
	background: url('../img/50.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:2900px;
  	z-index: 10;
}
#money50_44{
	background: url('../img/50.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:2950px;
  	z-index: 10;
}
#money50_45{
	background: url('../img/50.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 40px;
  	height: 20px;
  	position: absolute;
  	top:3000px;
  	z-index: 10;
}
#block0{
	background: url('../img/yellowBD.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 340px;
  	height: 200px;
  	position: absolute;
  	top:550px;
}
#block1{
	background: url('../img/blueBD.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 340px;
  	height: 200px;
  	position: absolute;
  	top:1200px;
}
#bld1_1{
	background: url('../img/bld1_1.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 100px;
  	height: 140px;
  	position: absolute;
  	top:1200px;
}
#bld2_link{
	background: url('../img/bld2_link.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 180px;
  	height: 160px;
  	position: absolute;
  	top:1200px;
}
#bld1_5{
	background: url('../img/bld1_5.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 200px;
  	height: 360px;
  	position: absolute;
  	top:800px;	
}
#bld_4{
	background: url('../img/bld_4.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 140px;
  	height: 160px;
  	position: absolute;
  	top:1000px;	
}
#bld_3{
	background: url('../img/bld_3.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 140px;
  	height: 160px;
  	position: absolute;
  	top:1000px;	
}
#fishpool{
	background: url('../img/fishpool.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 290px;
  	height: 170px;
  	position: absolute;
  	top:2500px;	
}
#daikon_ground{
	background: url('../img/daikon_ground.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 300px;
  	height: 180px;
  	position: absolute;
  	top:2600px;	
}
#title2{
	background: url('../img/title2.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 280px;
  	height: 230px;
  	position: absolute;
  	z-index: 99;
  	top:2600px;
}
#dog{
	background: url('../img/dog.svg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	width: 290px;
  	height: 170px;
  	position: absolute;
  	top:2800px;	
}