body {
	margin: 0;
	padding: 0
}

a {
  color: #00B7FF;
}
body{
	background: #8FC31F;
}
.bg{
	width: 1921px;
	height: 12752px;
	right:48%;
	background-image: url('../img/bg.jpg');
	position: absolute;
	top:-300px;
	/*	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;*/
	/*background-size:cover;*/
}
#gm{
	width: 130px;
	height: 175px;
	top:43%;
	right:48%;
	position: fixed;
	background-image: url('../img/gm.gif');
	/*display: none;*/
}
#boat{
	width: 336px;
	height: 160px;
	top:7500.8px;
	right:40%;
	position: absolute;
	background-image: url('../img/boat.png');
}
.startdoor{
	z-index: 9;
	position: absolute;
	top:-100px;
	right:0;
	height:600px;
	width: 100%;
	background: url('../img/stdoor.svg');
	background-size: 100% 100%;

}
#mountain{
	z-index: 20;
	position: absolute;
	bottom:100%;
	right:0;
	height:600px;
	width: 100%;
	background: url('../img/mountain.svg');
	background-size: 100% 100%;
	/*-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
}
.flipimg{
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}
#ufo{
	z-index: 21;
	position: fixed;
	top:0;
	right:100%;
	height:600px;
	width: 100%;
	/*display: none;*/
	background: url('../img/ufo.svg');
	background-size: 100% 100%;
}