body {
	margin: 0;
	padding: 0
}
a {
  color: #00B7FF;
}
html{
	
}
body{

}
#stage1{
	width: 100%;
	height: 5333px;
	overflow-x:hidden;
}
#stage2{
	width: 100%;
	height: 3900px;
	position: absolute;
	top:4000px;
	background:url("../img/bg_new_d.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#ufo{
	z-index: 21;
	position: fixed;
	top:0;
	right:-600px;
	height:600px;
	width: 100%;
	/*display: none;*/
	background: url('../img/ufo.svg');
	background-size: 100% 100%;
}

#gm{
	width: 90px;
	height:120px;
  	background:url("../img/greenman.png");
  	-webkit-animation: run .5s steps(7) infinite;
  	bottom: 50px;
  	position: fixed;
  	z-index: 10;
}
@-webkit-keyframes run{
  0%{background-position:0px;}
  100%{background-position:651px;}
}
#gd{
	width: 100%;
	background: #8fc31f;
	bottom: -50px;
	position: fixed;
	height: 50px;
	z-index: 5;
}
#pinkcar{
	bottom: 50px;
	position: fixed;
	width: 136px;
	height: 55px;
	background: url("../img/pink_car.png");
	right:-136px;
}
#bluecar{
	bottom: 50px;
	position: fixed;
	width: 136px;
	height: 55px;
	background: url("../img/bluecar.png");
	right:-136px;
}
#st1{
	width: 80px;
	height: 90px;
	bottom: 30px;
	right: -90px;
	position: fixed;
	background: url("../img/st1.png");
}
#st2{
	width: 80px;
	height: 90px;
	bottom: 30px;
	right: -90px;
	position: fixed;
	background: url("../img/st2.png");
}
#st3{
	width: 80px;
	height: 90px;
	bottom: 30px;
	right: -90px;
	position: fixed;
	background: url("../img/st3.png");
}
#sp1{
	width: 100%;
	height: 50px;
	top:1300px;
	position: absolute;
	background: #444;
}
#sp2{
	width: 100%;
	height: 50px;
	top:2666px;
	position: absolute;
	background: #444;
}
#sp3{
	width: 100%;
	height: 50px;
	top:3999px;
	position: absolute;
	background: #444;
}
#sea{
	width: 100%;
	height: 8000px;
	position: absolute;
	top:5333px;
	background: #80cce3;
}
#land{
	top:0px;
	width: 100%;
	height:1000px;
	position: absolute;
	background: url("../img/land.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#is1{
	width: 900px;
	height: 830px;
	background: url("../img/japan_land.svg");
	top:1400px;
	position: absolute;
	right: -250px;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#is2{
	width: 950px;
	height:750px;
	background: url("../img/frence.svg");
	top:2000px;
	position: absolute;
	left: -400px;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#is3{
	width: 800px;
	height:650px;
	background: url("../img/brasil_land.svg");
	top:3000px;
	position: absolute;
	right: -100px;
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#is4{
	width: 1000px;
	height:550px;
	background: url("../img/nederland_land.svg");
	top:3800px;
	position: absolute;
	left: -300px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#is5{
	width: 600px;
	height:350px;
	background: url("../img/taipei.svg");
	top:4500px;
	position: absolute;
	right: -100px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
#taiwan{
	width: 100%;
	height: 630px;
	/*left: 0;*/
	position: absolute;
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	*/
	background: url('../img/taiwan.svg');
	bottom: 0px;
}
#frr{
	width: 100%;
	height: 13333px;
	position: absolute;
	overflow-x:hidden;
}
#boat{
	/*position:absolute;*/
	/*top:1000px;*/
	display: none;
	z-index: 99;
	width: 330px;
	height: 150px;
	right:200px;
	top:40%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background: url('../img/boat.png');	
}